---
import RichText from "../common/RichText.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

// src/components/events/EventEntry.astro
interface Props {
  date: string; // Represents end date if range exists
  dateRange?: string;
  title: string;
  description?: string;
  Content?: AstroComponentFactory;
  category?: string;
  isLast?: boolean; // To prevent line extending past the last item
}

const { date, dateRange, title, description, Content, category, isLast = false } = Astro.props;
---

<li class:list={["timeline-event", { "is-last": isLast }]} data-category={category}>
  <div class="timeline-marker"></div>
  <div class="timeline-content">
    <div class="timeline-header">
      <span class="timeline-date">{dateRange || date}</span>
      <h3 class="timeline-title">{title}</h3>
      <!-- {category && <span class="timeline-category">{category}</span>} -->
    </div>
    {Content ? (
      <div class="timeline-description">
        <Content />
      </div>
    ) : description ? (
      <div class="timeline-description">
        <RichText content={description} />
      </div>
    ) : null}
  </div>
</li>
