---
// Content for the "Meet me!" section
import Button from "../../common/Button.astro";

const resumeUrl = "/resume";
// const contactUrl = "/contact";
---

<h2 slot="title" class="about-title scroll-target-title">About me</h2>

<div class="about-content scroll-target-content">
  <p>
    I'm Zheyu Cao, a fourth-year undergraduate in <strong>Computer Science and Technology</strong> at
    <strong>Northwestern Polytechnical University</strong>.
  </p>

  <p>
    I enjoy tackling challenges and creating cool projects, from websites to handcrafted OS kernels.
    I currently focus on
    <strong>Artificial Intelligence</strong>, particularly exploring the capabilities of LLMs.
  </p>

  <p>Currently, I am eager to contribute to cutting-edge Deep Learning research.</p>

  <div class="button-group">
    <Button
      class="button"
      href={resumeUrl}
      text="View My Résumé"
      wrapperClass="meet-me-cta-button"
    />
  </div>
</div>

<style>
  .button-group {
    display: flex;
    gap: 1rem; /* Adjust spacing as needed */
    margin-top: 2rem;
  }
</style>
