---
// Generic content for homepage text and contact sections
import Button from "../../common/Button.astro";
import ContactIcons from "../../contact/ContactIcons.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import type { ContactItem } from "../../../viewmodels/contactViewModel";

interface Props {
  data: {
    title: string;
    cta?: {
      text: string;
      href: string;
    };
    Content: AstroComponentFactory;
    socialItems?: ContactItem[];
  };
}

const { data } = Astro.props;
const { title, cta, Content, socialItems } = data;
---

<h2 slot="title" class="section-title scroll-target-title">{title}</h2>

<div class="section-content scroll-target-content">
  <div class="rich-text">
    <Content />
  </div>

  {
    socialItems?.length ? (
      <div class="my-8">
        <ContactIcons items={socialItems} />
      </div>
    ) : null
  }

  {
    cta?.href && cta?.text ? (
      <div class="btn-group">
        <Button class="button" href={cta.href} text={cta.text} wrapperClass="text-content-cta-button" />
      </div>
    ) : null
  }
</div>
