---
import { resumeData } from "../../data/resumeData";
const { projects } = resumeData;
---

<section class="resume-section scroll-reveal-animate">
  <h2>Projects</h2>
  {
    projects.map((project) => (
      <div class="project-entry">
        <div class="header">
          <span class="institution">
            <strong>{project.title}</strong>
          </span>
        </div>
        <span class="date">{project.date}</span>
        <ul class="details">
          {project.details.map((detail) => (
            <li set:html={detail} />
          ))}
        </ul>
      </div>
    ))
  }

  <p class="more-projects-link">
    For more projects, check the <a href="/projects">Projects page</a>.
  </p>
</section>

<style>
  .resume-section {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: clamp(1.8rem, 1.5rem + 1.5vw, 2.8rem);
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 0.5rem;
  }
  ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
  }
  .project-entry {
    margin-bottom: 2.5rem; /* Space between entries */
  }
  .project-entry:last-child {
    margin-bottom: 0;
  }
  .project-entry .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    align-items: baseline;
  }
  .project-entry .date {
    font-family: var(--font-family-sans);
    color: var(--text-muted);
    font-size: 1rem;
    white-space: nowrap;
  }
  .project-entry .details {
    list-style: disc; /* Use bullet points */
    padding-left: 1.5rem; /* Standard padding for list */
    margin-left: 0;
    font-size: 1.1rem;
    line-height: 1.8;
  }
  .project-entry .details li {
    margin-bottom: 0.3rem;
  }
  @media (max-width: 600px) {
    .project-entry .header {
      flex-direction: column;
      align-items: flex-start;
    }
    .project-entry .date {
      margin-top: 0.3rem;
    }
  }

  .more-projects-link {
    margin-top: 3rem; /* Add space above this line */
    font-size: 1.2 rem;
  }
</style>
