---
import { resumeData } from "../../data/resumeData";
const { skills } = resumeData;
---

<section class="resume-section scroll-reveal-animate">
  <h2>Skills</h2>
  <div class="skills-grid">
    {
      skills.map((category) => (
        <div class="skill-category">
          <h3>{category.name}</h3>
          <ul>
            {category.items.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>

<style>
  .resume-section {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: clamp(1.8rem, 1.5rem + 1.5vw, 2.8rem);
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 0.5rem;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid */
    gap: 2rem; /* Space between columns and rows */
  }
  .skill-category h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  .skill-category ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.7;
  }
  .skill-category li {
    margin-bottom: 0.4rem;
    color: var(--text-muted); /* Slightly muted color for skill items */
  }
</style>
