---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main style="padding: 4rem 10%; min-height: 60vh;">
    <h1>Contact Me</h1>
    <p>Contact information coming soon...</p>
    <p>You can usually find me via the links in the footer.</p>
  </main>
</Layout>
