---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />

    <About />

    <div style="height: 100vh;"></div>
  </main>
  {/* Add your other content here if needed */}
</Layout>

<style>
  main {
    position: relative;
    width: 100%;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const aboutTitle = document.querySelector(".scroll-target-title");
  if (aboutTitle) {
    gsap.set(aboutTitle, { filter: "blur(8px)", opacity: 0 });

    const titleTimeline = gsap.timeline({
      scrollTrigger: {
        trigger: aboutTitle,
        start: "top 85%",
        end: "bottom 0%",
        scrub: 1,
      },
    });

    titleTimeline
      .to(aboutTitle, {
        filter: "blur(0px)",
        opacity: 0.9,
        ease: "none",
        duration: 2,
      })
      .to(aboutTitle, {
        filter: "blur(8px)",
        opacity: 0,
        ease: "none",
        duration: 1,
      });
  }

  const aboutContent = document.querySelector(".scroll-target-content");
  if (aboutContent) {
    gsap.set(aboutContent, { opacity: 0, y: 30 });

    const contentTimeline = gsap.timeline({
      scrollTrigger: {
        trigger: aboutContent,
        start: "top 85%",
        end: "bottom 15%",
        scrub: 1,
      },
    });

    contentTimeline
      .to(aboutContent, {
        opacity: 1,
        y: 0,
        ease: "power1.inOut",
        duration: 2,
      })
      .to(aboutContent, {
        opacity: 0,
        y: -30,
        ease: "power1.inOut",
        duration: 1,
      });
  }
</script>
