---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />

    <About />

    {/* Temporary Spacer to ensure end triggers are reachable */}
    {/* <div style="height: 100vh;"></div> Removed spacer */}
  </main>
  {/* Add your other content here if needed */}
</Layout>

<style>
  main {
    position: relative;
    width: 100%;
  }
</style>
