---
import Layout from "../layouts/Layout.astro";
import SectionRenderer from "../components/home/SectionRenderer.astro";
import { getHomepageSectionsViewModel } from "../viewmodels/homepageSectionsViewModel";
import { getPageMetadata } from "../lib/viewmodels/baseViewModel";

const [sections, metadata] = await Promise.all([getHomepageSectionsViewModel(), getPageMetadata("index")]);
---

<Layout title={metadata.title} description={metadata.description} seo={metadata.seo}>
  <div class="homepage-content">
    {sections.map((section) => <SectionRenderer section={section} />)}
  </div>
</Layout>

<style>
  .homepage-content {
    /* Styles specific to the homepage main container if needed */
    /* Ensures sections flow vertically */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
</style>
