---
import Layout from "../layouts/Layout.astro";
import SectionRenderer from "../components/home/SectionRenderer.astro";
import { getHomepageSectionsViewModel } from "../viewmodels/homepageSectionsViewModel";

const sections = await getHomepageSectionsViewModel();
---

<Layout title="Homepage">
  <main class="homepage-content">
    {sections.map((section) => <SectionRenderer section={section} />)}
  </main>
</Layout>

<style>
  .homepage-content {
    /* Styles specific to the homepage main container if needed */
    /* Ensures sections flow vertically */
    display: flex;
    flex-direction: column;
  }
  main {
    position: relative;
    width: 100%;
  }
</style>
