---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import SectionWrapper from "../components/home/SectionWrapper.astro";
import MeetMeContent from "../components/home/content/MeetMeContent.astro";
import FeaturedWorksContent from "../components/home/content/FeaturedWorksContent.astro";
import HighlightsUpdatesContent from "../components/home/content/HighlightsUpdatesContent.astro";
import ConnectContent from "../components/home/content/ConnectContent.astro";
---

<Layout title="Homepage">
  <main class="homepage-content">
    <Hero />

    <SectionWrapper>
      <MeetMeContent />
    </SectionWrapper>

    <SectionWrapper>
      <FeaturedWorksContent />
    </SectionWrapper>

    <SectionWrapper>
      <HighlightsUpdatesContent />
    </SectionWrapper>

    <!-- <SectionWrapper>
      <ConnectContent />
    </SectionWrapper> -->
  </main>
</Layout>

<style>
  .homepage-content {
    /* Styles specific to the homepage main container if needed */
    /* Ensures sections flow vertically */
    display: flex;
    flex-direction: column;
  }
  main {
    position: relative;
    width: 100%;
  }
</style>
