---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />

    <About />
  </main>
</Layout>

<style>
  main {
    position: relative;
    width: 100%;
  }
</style>
