---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <main style="padding: 4rem 10%; min-height: 60vh;">
    <h1>Projects</h1>
    <p>Content coming soon...</p>
  </main>
</Layout>
