---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
  <main style="padding: 4rem 10%; min-height: 60vh;">
    <h1>Resume</h1>
    <p>Content coming soon... (Likely a PDF download link)</p>
  </main>
</Layout>
